
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montagu+Slab:opsz@16..144&display=swap');

html{
    font-size: 16px;
}


body{
    width: 100%;
    background-color:#B5B5B5;
    font-family: 'Montagu Slab', serif;
    color: var(--DARK-GREY, #3A3A3A);
    line-height: 1.5;
    margin: auto;
    min-height: 100vh;
}

header{
    width: 100%;
    padding: 1rem; 
    background-color: #15157A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; 
}

section{
    margin: 7rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

h1{
    color: var(--DEEP-YELLOW, #B8910B);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    justify-content: space-between;
}

h2{
color: var(--DEEP-BLUE, #15157A);
font-family: Dela Gothic One;
font-size: 1.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

h3{
    font-family: 'Montagu Slab', serif;
    color: var(--DARK-GREY, #3A3A3A);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 2rem;
}

nav a {
    color: var(--DEEP-YELLOW, #B8910B); 
    text-decoration: none;
    margin: 0 0 0 6.5rem;

}

a{
    color: var(--DEEP-YELLOW, #B8910B); 
    text-decoration: none;
  
}

a h1:underline{
    text-decoration: underline;
}

main{
    margin: 0; 
}

#byline{
    padding-left: 5rem;
    text-align: center;
    grid-column: 2/11;
    color:  var(--DEEP-RED, #8C0D08);
}

#byline h1 {
    color:  var(--DEEP-RED, #8C0D08);
}

#kusf{
    grid-column: 2/6;
}

#kusfdesc{
    padding-top: 3rem;
    grid-column: 6/11;
}

#norav{
    grid-column: 9/11;
}

#noravdesc{
    padding-top: 2rem;
    grid-column: 2/8;
}

#breathe{
    grid-column: 2/6;
}

#breathedesc{
    padding-top: 1rem;
    grid-column: 6/12;
}

#dfcollage{
    grid-column: 8/12;
}

#archdesc{
    grid-column: 2/7;
}

#zinecover{
    grid-column: 2/7;
}

#pooldesc{
    padding-top: 5rem;
    grid-column: 7/12;
}

#background{
    background-image: url("katedillonabout.jpg");
    align-items: center;
}

#abouttext{
    background-image: url('../img/katedillonabout.jpg');
    background-repeat: no-repeat;
    background-position: 0 0; 
    background-attachment: fixed;
    width: 100%; 
    height: 600px;
    margin: 0px; 
}

#aboutbio {
    width: 75%; 
   position: absolute; 
   top: 25rem; 
   left: 3rem; 
}

#contacttext{
    align-items: center;
    padding-left: 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#contacttext h1{
    color:  var(--DEEP-RED, #8C0D08);
}

#contacttext h2{
    color: var(--DARK-GREY, #3A3A3A);
}

#darkgrey1{
    background-color:#737373;
    color:#B5B5B5;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#darkgrey2{
    background-color:#737373;
    color:#B5B5B5;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#darkgrey3{
    background-color:#737373;
    color:#B5B5B5;
    margin: 7rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

footer{
    position: static;
    bottom: 0px;
    width: 100%;
    background-color: #15157A;
    color: var(--DEEP-YELLOW, #B8910B);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem; 
    margin-top: auto;
}

#aboutfooter{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #15157A;
    color: var(--DEEP-YELLOW, #B8910B);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem; 
    margin-top: auto;
}

#contactfooter{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #15157A;
    color: var(--DEEP-YELLOW, #B8910B);
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem; 
    margin-top: auto;
}